


/* @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap'); */


$primary-text-dark: hsl(300, 93%, 12%);
$secondary-text-dark: hsl(244, 89%, 29%);
$text-color-light: hsl(60, 78%, 78%);
$logo-text-color: hsl(60, 100%, 97%);
$primary-link-color: hsl(83, 69%, 52%);
$bg-nav-overlay: hsla(296, 39%, 7%, 0.911);
$bg-nav-color: hsl(300, 37%, 24%);
$bg-color-primary: hsl(318, 100%, 82%); /*hero*/
$bg-color-secondary: hsl(197, 100%, 96%);
$bg-color-tertiary:hsl(0, 100%, 96%);
$bg-color-quaternary: hsl(206, 100%, 84%);
$bg-color-quinary: hsl(335, 90%, 80%);



html, body {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
        // css-vertical scroll properties set here...
        //>> also  see .section-container & 
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(50vh);
        scroll-snap-type: y mandatory;
    }


@media (min-width: 150px) and (max-width: 320px) {
    html {
        font-size: 28%;
    }


}

@media (min-width: 600px) {
    html {
        font-size: 60%;
    }
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    color: $primary-text-dark;
    margin: 0;
    height: 100vh;
 }

 /* 
Images
 */

 img {
    max-width: 100%;
    // display: block;
    margin-bottom: 4em;
 }



/* =================
Typography
================= */

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-size: 6rem;
    margin-top: 0;
}

h2 {
    font-size: 5rem;
    margin-top: 0;
    padding: 1rem;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}

h3 {
    font-size: 4rem;
    font-weight: 900;
    margin-top: 0;
}

p {
    margin-bottom:0;
}


.bold-text {
    font-weight: 900;
    display: block;
}

.small-text {
    font-size: 1rem;
} 

h1 .bold-text {
    font-size: 7rem;
}

h2 .bold-text {
    font-size: 5rem;
}


/* 
Buttons and links
 */
.buttons {
    display: inline-block;
    font-size: 1.5rem;
    background:hotpink;
    padding: 1em 1.25em;
    margin-top: 1em;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;  
}

.buttons:hover,
.buttons.focus {
    color:hsl(60, 100%, 97%);
    background-color:hsl(318, 100%, 82%);
}

    a:link {
        color: orange;
        font-weight: 900;

        &:hover { 
            background-color: yellow;
            color: red;
        }
} /* 
*/

/* =================
Layout
================= */
.container {
    width: 80%;
    max-width: 620px; 
    // min-width: 320px;
    border: 2px solid coral;
    margin: 0 auto;
    text-align: center;
    padding: 0 3rem;

}


// .block {
//     display: flex;
//      flex-direction: column;
    
// }
.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(187, 187, 187);
    border-radius: 50%;
    display: inline-block;
  }

 /*
Main Sections
*/


.section-container {
    border-bottom: 1px solid white;
	padding: 1rem;
    //>>> css-vertical scroll properties set here...also see html.
	height: 50vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
   
}



.hero,
section {
    padding: 4em 0;
}

.hero {
    background-color: hsl(318, 100%, 82%);
}

.about-me {
    background-color: hsl(0, 100%, 96%);
    
}

.articles {
    background-color: hsl(197, 100%, 96%);
}

.projects {
    display: flex;
    width: 100%;
    background-color: hsl(206, 100%, 84%);
}

.works,
.my-apps {
    display: inline-block;
    width:33%;
    padding: 2rem;

    h3 {
        color: $secondary-text-dark;
    }
    
}  /* ============= */





/* =====================
HEADER & NAV & DROPDOWN
================= */
header {
    background: hsl(300, 37%, 24%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: inherit;
    //!!css scroll property-- this resolved it not scrolling into view !//!
    scroll-snap-align: start;
	text-align: center;
	position: relative
    
}

    a.logo {
        color: hsl(60, 100%, 97%);
        text-decoration: none;
        font-weight: 900;
        margin: 1em .5em 0;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background: hsla(296, 39%, 7%, 0.911);
        width: 100%;
        visibility: hidden;
        transform: translateX(50%);
        opacity: 0;
        transition: all .3s;
        text-align: center;
    }
            .exit {
                width: 2em;
                float: right;
                margin: .5em;
                cursor: pointer;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin-top: 4em;

                        .active a {
                            color: hsl(207, 100%, 49%);
                            font-weight: bold;
                        }
    
                    li a {
                        color: hsl(206, 10%, 53%);
                        text-decoration: none;
                        display: block;
                        padding: .5em 1em;

                        // &:hover{
                        //   background: $bg-nav-overlay;
                        //     }
                    }
            }


    .open {
         cursor: pointer;
         margin: .5em;
         font-weight: 900;
    }

    .open-nav {
                visibility: unset;
                opacity: 1;
                transform: translateX(0);

    } 
/* ==============
===*/







    

/* =====================
Footer
================= */
.wrapper {
    display: flex;
    justify-content: center;
//    background: coral;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

.col {
    border: 1px solid red;
    // width: 11rem;
    // // height: auto;
    float: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    margin:.5rem;

}

.footer {
    background-color: pink;
    padding:.5rem;
    overflow: hidden;
    // font-size: smaller;

 .skill-basket {
        background-color: lawngreen;
     
       
    }
    
       

            h1 {
                margin: 0;
                padding: 0;
                font-family: inherit;
                font-size: 1rem;
                line-height: 2rem;
                padding: .5rem 0 0;
                color: rgb(44, 8, 26);
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.250em;
            }

         
            ul {
                // list-style-type: none;
                display: inline;
                margin: 0;
                padding: 0;
               
                padding-top: .5rem ;
                padding-bottom: 1rem;
                background-color: lavenderblush;
                // width: 630px;

                li {
                        color: hsl(60, 78%, 78%);
                        font-size: 1rem;
                        font-family: inherit;
                        font-weight: bold;
                        padding:0;
                        line-height: 1.2rem;
                        letter-spacing: 0.250em;
                        cursor: pointer;
                        transition: .2s;
                        -webkit-transition: .2s;
                        -moz-transition: .2s;

                            a {
                                color:rgb(201, 30, 135);
                            }
                                &:hover,
                                &:focus {
                                    color: hsl(0, 0%, 100%);
                                    background: lawngreen;
                                    transition: .1s;
                                    -webkit-transition: .1s;
                                    -moz-transition: .1s;
                                }
                        }/*li ends*/
            } /*ul nesting ends*/

            
      /*
        } col nesting ends*/

  .clearfix {
    clear: both;
  }
}
/* =============
 ===*/



/* =====================
Media Queries
================= */


/* from a minimum width of 650px and bigger */
@media (min-width: 650px) {
   
    body {
        color: rebeccapurple;
    }

    header {
        background-color: rgb(153, 37, 153);
    }

    .columns {
        display: flex;
        justify-content: space-between;
        
    }

    .about-me {
        width: 100%;
       
    }
    
    .spacing {
        padding-left: 4em;
        padding-right: 4em;
    }
    
//   .projects {
      
//       flex-direction: column;
//   }
    .skill-basket {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height:40rem;
        width:100%;
        color: antiquewhite; 
        margin-top: 0;
       
        
    }
    // .works {
    //     // display: flex;
    //     flex-direction: column;
    //     align-items: space-between;
    //     width:17.2%;
    //     border: 1px solid green;
    //     margin-bottom: 0;
    // }

    // .works:hover,
    // .works:focus {
    //     background: lightgreen;
    // }

    .footer-wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 60%;
    }
}

/* from a minimum width of 400px up to a width of 649px */
@media (min-width: 320px) and (max-width: 649px) {

    body {
        color: rgb(105, 40, 170);
        
    }

    .container
     {
        width: 85%;
    }
    .hero {
        background-color: hsl(266, 82%, 67%);
       
    }

    .hero-cta-btn {
        display: inline-block;
        margin-top: 0;
        font-size: .3em;
        background: hsl(48, 100%, 93%);
        padding: 1.5em 2.5em;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
        -ms-border-radius: 1em;
        -o-border-radius: 1em;

        a {
            text-decoration: none;
            background-color: unset;
        }
        &:hover,
        &:focus {
            background-color: cyan;
        }

     
}

    h1 {
        font-size: 2em;
    }
    
    span {
        font-size: large;
    }
    .about-me {
        background-color: hsl(197, 100%, 96%);
    }
    
    .articles {
        background-color: hsl(318, 100%, 82%);  
    
    .projects {
        background-color: hsl(206, 100%, 84%);
    }
    
    
    }
}
